*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

background:#FADADD;
font-family:Poppins;
color:#5A2A0C;
overflow-x:hidden;

}

header{

width:90%;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
padding:30px 0;

}

.logo{

font-family:Playfair Display;
font-size:32px;

}

nav a{

text-decoration:none;
color:#5A2A0C;
margin-left:30px;
font-weight:500;
transition:.3s;

}

nav a:hover{

color:#C45508;

}

.hero{

width:90%;
margin:auto;
min-height:90vh;
display:flex;
align-items:center;
justify-content:space-between;

}

.left{

width:50%;

}

.hello{

letter-spacing:5px;
color:#C45508;
margin-bottom:20px;

}

.left h1{

font-family:Playfair Display;
font-size:70px;
line-height:1.1;

}

.left span{

color:#C45508;

}

.description{

margin:30px 0;
font-size:18px;
line-height:1.8;

}

.buttons{

display:flex;
gap:20px;

}

.btn{

background:#C45508;
color:white;
padding:15px 35px;
border-radius:50px;
text-decoration:none;
transition:.3s;

}

.btn:hover{

transform:translateY(-5px);

}

.btn-outline{

border:2px solid #C45508;
padding:15px 35px;
border-radius:50px;
text-decoration:none;
color:#C45508;

}

.right{

display:flex;
justify-content:center;
width:45%;

}

.profile-card{

width:380px;
height:500px;
background:rgba(255,255,255,.25);
backdrop-filter:blur(15px);
border-radius:40px;
display:flex;
align-items:center;
justify-content:center;
box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.profile-card img{

width:90%;
border-radius:30px;

}

.about,
.skills{

width:90%;
margin:100px auto;

}

.about h2,
.skills h2{

font-size:50px;
font-family:Playfair Display;
margin-bottom:25px;

}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
margin-top:40px;

}

.card{

background:white;
padding:40px;
border-radius:25px;
transition:.4s;
box-shadow:0 15px 30px rgba(0,0,0,.08);

}

.card:hover{

transform:translateY(-10px);
background:#C45508;
color:white;

}

footer{

padding:40px;
text-align:center;
margin-top:100px;

}

.blob{

position:fixed;
border-radius:50%;
filter:blur(120px);
z-index:-1;

}

.blob1{

width:400px;
height:400px;
background:#C45508;
top:-120px;
right:-100px;
opacity:.35;

}

.blob2{

width:350px;
height:350px;
background:white;
bottom:-120px;
left:-100px;
opacity:.6;

}

@media(max-width:900px){

.hero{

flex-direction:column-reverse;
text-align:center;

}

.left,
.right{

width:100%;

}

.left h1{

font-size:50px;

}

.buttons{

justify-content:center;

}

.profile-card{

margin-bottom:50px;

}

nav{

display:none;

}

}
